body {
    margin: 0;
    padding: 0;
}

table, tr, td {
    vertical-align: top;
    border-collapse: collapse;
}

.ie-browser table, .mso-container table {
    table-layout: fixed;
}

* {
    line-height: inherit;
}

a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important;
}

[owa] .img-container div, [owa] .img-container button {
    display: block !important;
}

[owa] .fullwidth button {
    width: 100% !important;
}

[owa] .block-grid .col {
    display: table-cell;
    float: none !important;
    vertical-align: top;
}

.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
    width: 570px !important;
}

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%;
}

.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
    width: 188px !important;
}

.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
    width: 376px !important;
}

.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
    width: 285px !important;
}

.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
    width: 190px !important;
}

.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
    width: 142px !important;
}

.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
    width: 114px !important;
}

.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
    width: 95px !important;
}

.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
    width: 81px !important;
}

.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
    width: 71px !important;
}

.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
    width: 63px !important;
}

.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
    width: 57px !important;
}

.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
    width: 51px !important;
}

.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
    width: 47px !important;
}

@media only screen and (min-width: 590px) {
    .block-grid {
        width: 570px !important;
    }

    .block-grid .col {
        vertical-align: top;
    }

    .block-grid .col.num12 {
        width: 570px !important;
    }

    .block-grid.mixed-two-up .col.num4 {
        width: 188px !important;
    }

    .block-grid.mixed-two-up .col.num8 {
        width: 376px !important;
    }

    .block-grid.two-up .col {
        width: 285px !important;
    }

    .block-grid.three-up .col {
        width: 190px !important;
    }

    .block-grid.four-up .col {
        width: 142px !important;
    }

    .block-grid.five-up .col {
        width: 114px !important;
    }

    .block-grid.six-up .col {
        width: 95px !important;
    }

    .block-grid.seven-up .col {
        width: 81px !important;
    }

    .block-grid.eight-up .col {
        width: 71px !important;
    }

    .block-grid.nine-up .col {
        width: 63px !important;
    }

    .block-grid.ten-up .col {
        width: 57px !important;
    }

    .block-grid.eleven-up .col {
        width: 51px !important;
    }

    .block-grid.twelve-up .col {
        width: 47px !important;
    }
}

@media (max-width: 590px) {
    .block-grid, .col {
        min-width: 320px !important;
        max-width: 100% !important;
        display: block !important;
    }

    .block-grid {
        width: calc(100% - 40px) !important;
    }

    .col {
        width: 100% !important;
    }

    .col > div {
        margin: 0 auto;
    }

    img.fullwidth, img.fullwidthOnMobile {
        max-width: 100% !important;
    }
}
