@media (max-width: 520px) {
    .block-grid {
        min-width: 320px !important;
        max-width: 100% !important;
        width: 100% !important;
        display: block !important;
    }

    .col {
        min-width: 320px !important;
        max-width: 100% !important;
        width: 100% !important;
        display: block !important;
    }

    .col > div {
        margin: 0 auto;
    }

    img.fullwidth {
        max-width: 100% !important;
    }
}
